a {
  @include b5-style();
  @media screen and (min-width: $screen-md) {
    @include b4-style();
  }
  cursor: pointer;
  display: inline-block;
}
.sq-link {
  &__container {
    display: flex;
    align-items: center;
  }
  &__icon {
    display: flex;
    float: left;
    margin-right: 5px;
  }
  &--disabled {
    color: $sq-color-muted;
    cursor: default;
    &:hover {
      color: $sq-color-muted;
      cursor: default;
    }
  }
  img {
    width: 100%;
  }
  &--small {
    @include b5-style();
  }
  
}
