.sq-content-page {
  width: 100%;
  margin: auto;

  &__body, .sq-global-navigation__wrapper {
    max-width: $screen-lg;
    margin: auto;
  }
  &--full-width {
    .sq-content-page__body {
      max-width: 100%;
    }
  }
  &--header-footer-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    .sq-content-page__body-wrapper, .dynamic-content__body {
      flex-grow: 1;
    }
  }
}
