.sq-dialog {
  &__content-body {
    min-height: 200px;
    min-width: 280px;
    height: 100%;
    &--auto {
      min-height: auto;
      min-width: auto;
    }
    &--confirm {
      min-height: auto;
      padding: 10px 0 32px 0;
      min-width: 280px;
    }
    .sq-content-page {
      height: 100%;
    }
  }
 
  &__title {
    flex-grow: 1;
    padding: 20px 0px;
    margin: 0;
  }
  &__loader {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: $z-index-level-2ndtopest;
  }
  &--fixed-right {
    .MuiDialog-paperWidthSm {
      @media (min-width: $screen-sm) {
        max-width: 500px !important;
      }
    }
    .MuiPaper-root {
      width: 100%;
      max-height: 100%;
      position: fixed;
      top: 0;
      right: 0;
      height: 100%;
      bottom: 0;
      margin: auto;
      overflow: unset;
    }
    @media (min-width: $screen-sm) {
      .sq-dialog__close {
        left: -24px;
        right: unset;
        .sq-icon {
          color:grey;
          background-color: white;
          border-radius: 5px;
        }
      }
    }
  }
}
.MuiDialogContent-root {
  position: relative;
}
.MuiDialog-paperWidthSm {
  max-width: 850px!important;
}

.MuiDialog-root {
  z-index: $z-index-level-topest!important;
}