.sq-hero-content {
  text-align: center;
  position: relative;

  &--animate {
  }

  &__eyebrow {
    padding-bottom: 8px;
    @include b4-style();
  }
  &__sub-header {
    @include b3-style();
  }

  &__links-container {
    margin-top: 16px;
  }
  &__link {
    margin-bottom: 16px;
    @media (min-width: $screen-sm) {
      margin-bottom: 0;
    }
  }
  &__image {
    display: block;
    text-align: center;
    margin: auto;
    height: 60%;
    width: 60%;
    max-width: 300px;
    padding: 20px;
    @media (min-width: $screen-sm) {
    }
    img {
      width: 100%;
    }
  }

  &--default {
    padding: 58px 0;
    max-width: 100%;
    @media (min-width: $screen-sm) {
      padding: 98px 0;
    }
    .sq-hero-content__wrapper {
      justify-content: center;
      display: flex;
      padding: 20px;
      flex-wrap: wrap;
      @media (min-width: $screen-sm) {
        flex-wrap: nowrap;
        align-items: center;
      }
    }
    .sq-hero-content__content-col {
      flex-basis: 100%;
      @media (min-width: $screen-sm) {
        flex-basis: 50%;
      }
    }
    .sq-hero-content__content-image {
      flex-grow: 1;
    }

    &.sq-hero-content--animate-default {
      &-reset {
        .sq-hero-content__eyebrow,
        .sq-hero-content__header,
        .sq-hero-content__sub-header,
        .sq-hero-content__links-container,
        .sq-hero-content__image {
          opacity: 0;
        }
      }
      .sq-hero-content__eyebrow {
        animation: anim-swipe-in-up 0.4s ease;
      }
      .sq-hero-content__header {
        animation: anim-hide 0.4s ease, anim-swipe-in-up 0.4s 0.4s ease;
      }
      .sq-hero-content__sub-header {
        animation: anim-hide 0.8s ease, anim-swipe-in-up 0.4s 0.8s ease;
      }
      .sq-hero-content__links-container {
        opacity: 1;
        animation: anim-hide 1.2s ease, anim-swipe-in-up 0.4s 1.2s ease;
      }
      .sq-hero-content__image {
        opacity: 1;
        animation: anim-hide 1.2s ease, anim-swipe-in-left 0.4s 1.2s ease;
      }
    }
    &.sq-hero-content--animate-type2 {
      &-reset {
        .sq-hero-content__eyebrow,
        .sq-hero-content__header,
        .sq-hero-content__sub-header,
        .sq-hero-content__links-container,
        .sq-hero-content__image {
          opacity: 0;
        }
      }
      .sq-hero-content__eyebrow {
        animation: anim-swipe-in-down 0.4s ease;
      }
      .sq-hero-content__header {
        animation: anim-hide 0.4s ease, anim-swipe-in-left 0.4s 0.4s ease;
      }
      .sq-hero-content__sub-header {
        animation: anim-hide 0.8s ease, anim-swipe-in-right 0.4s 0.8s ease;
      }
      .sq-hero-content__links-container {
        opacity: 1;
        animation: anim-hide 1.2s ease, anim-swipe-in-left 0.4s 1.2s ease;
      }
      .sq-hero-content__image {
        opacity: 1;
        animation: anim-hide 1.2s ease, anim-swipe-in-left 0.4s 1.2s ease;
      }
    }
  }
  &--with-background {
    padding: 100px 0;
    max-width: 100%;
    .sq-hero-content__wrapper {
      @media (min-width: $screen-sm) {
      }
    }
    .sq-hero-content__eyebrow,
    .sq-hero-content__header,
    .sq-hero-content__sub-header {
      color: $sq-color-muted-lightest;
    }
  }
  &--left-aligned {
    text-align: left;
    .sq-hero-content__wrapper {
    }
    @media (min-width: $screen-sm) {
      
    }
  }
  &--left-aligned-full {
    text-align: left;
    .sq-hero-content__wrapper {
    }
    .sq-hero-content__image {
    }
  }
  &--right-aligned {
    text-align: right;
    .sq-hero-content__wrapper {
    }
    @media (min-width: $screen-sm) {
      .sq-hero-content__content-image {
        order: 1;
      }
      .sq-hero-content__content-col {
        order: 2;
      }
    }
  }
  &--light {
    background: $sq-color-muted-lightest;
    color: $sq-color-primary-darker;
  }
  &--dark {
    background: $sq-color-primary-darker;
    color: $sq-color-muted-lightest;
  }
}
