.sq-component-editor {
  .tp-progress--active {
    display: none !important;
  }
  position: relative;
  padding: 35px 15px;
  @media (min-width: $screen-lg) {
    padding: 35px ;
  }
  border: 2px dashed transparent;
  background-color: white;
  &:hover {
    border: 2px dashed $sq-color-slate-light;
    background-color: $sq-color-extra1-lightest;
    > .sq-component-editor__actions {
      visibility: visible;
    }
    > .sq-component-editor__move {
      display: block;
    }
    > .sq-component-editor__name {
      display: block;
    }
  }
  &__name-text {
    // @include t6-style();
  }
  &__actions {
    position: absolute;
    top: -16px;
    right: 8px;
    padding: 4px;
    background-color: white;
    z-index: $z-index-level-1;
    border-radius: 5px;
    visibility: hidden;
    display: flex;
    box-shadow: 2px 2px 5px #e2e2e2;
  }
  &__name {
    background-color: $white;
    top: -8px;
    color: $sq-color-slate-light;
    position: absolute;
    border-radius: 5px;
    padding: 2px 8px;
    left: 0;
    display: none;
    text-overflow: ellipsis;
    max-width: 300px;
    white-space: nowrap;
    overflow: hidden;
  }
  &__move {
    position: absolute;
    height: 44px;
    left: -20px;
    border-radius: 5px;
    background-color: white;
    top: 0;
    bottom: 0;
    display: none;
    margin: auto;
  }
  margin-bottom: 10px;
  border-radius: 5px;
}