.sq-placeholder-drop {
 
  &__hover-text {
    border-radius: 5px;
    text-align: center;
    @include b6-style();
  }

  &-style-box {
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    &.sq-placeholder-drop--active {
      background-color: $sq-color-success-lightest;
      border: 2px dashed $sq-color-success-light;
    }
    &.sq-placeholder-drop--can-drop {
      background-color: $sq-color-warning-lightest;
      border: 2px dashed $sq-color-warning-light;
    }
    &.sq-placeholder-drop--default {
      border: 2px dashed $sq-color-extra1-light;
      background-color: $sq-color-extra1-lighter;
    }
  }
  &-style-line {
    padding: 5px;
    .sq-placeholder-drop__content {
      display: none;
    }
    .sq-placeholder-drop__hover-text {
      display: none;
    }
    &.sq-placeholder-drop--active {
      .sq-placeholder-drop__hover-text {
        border-top: solid 5px $sq-color-info-light;
        display: block;
        background-color: $sq-color-info-lighter;
      }
    }
    &.sq-placeholder-drop--can-drop {
      .sq-placeholder-drop__hover-text {
        border-top: solid 5px $sq-color-warning-light;
        display: block;
        background-color: $sq-color-warning-lighter;
      }
    }
    &.sq-placeholder-drop--default {
      
    }
  }
}