.sq-tag-dropdown {
  &__wrapper {
    display: flex;
    align-items: center;
    .sq-icon {
      flex-shrink: 0;
    }
  }

  &__icon {
    &.active {
      background-color: $brand-primary;
      color: white;
    }
  }
}
.sq-tag-label--list-item {
  min-width: 134px;
  padding: 4px;
  .sq-tag-label__container {
    justify-content: center;
  }
}
.MuiMenuItem-root.sq-tag-label--list-item-wrap {
  padding: 4px 8px;
}
.sq-tag-label {
  &--filled {
    &.purple {
      color: $sq-color-purple;
      background: $sq-color-purple-lightest;
    }
  }
}
