.sq-tag-dropdown {
  &__wrapper {
    display: flex;
    align-items: center;
    .sq-icon {
      flex-shrink: 0;
    }
  }

  &__menu {
    z-index: $z-index-level-2ndtopest !important;
    .MuiMenuItem-root.sq-tag-label--list-item-wrap {
      padding: 4px 8px;
    }
  }
  &__icon {
    &.active {
      background-color: $brand-primary;
      color: white;
    }
  }
  &--list-item {
    min-width: 134px;
    padding: 4px;
    .sq-tag-label__container {
      justify-content: center;
    }
  }
}

.sq-tag-label {
  &--filled {
    &.purple {
      color: $sq-color-purple;
      background: $sq-color-purple-lightest;
    }
  }
}
