.sq-select-field {
  &--min {
    .sq-select-field__input {
      min-width: 150px;
    }
  }
 
  .sq-icon {
    margin-right: 4px;
  }
  .MuiInputBase-input {
    display: flex;
    align-items: center;
  }
}
