<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contact us</title>
  ##data.STYLES##
</head>

<body>
  <div class="sq-email sq-email--corp">
    ##data.HEADER##
    <div class="sq-email__header">
      <h1>Contact us</h1>
    </div>
    <div class="sq-email__body">
      <h3> Sender Info </h3>
      <hr />
      Full Name: ##data.fullName##
      <br />
      Email: ##data.email##
      <br />
      Contact: ##data.phone##
      <br />
      <br />
      <h2> Message </h2>
      <hr />
      <br />
      <h3>Subject</h3>
      <p>
        ##data.subject##
      </p>
      <h3>Body</h3>
      <p>
        ##data.body##
      </p>
    </div>
    ##data.FOOTER##
  </div>
</body>

</html>