.sq-grid {
  &__row {
    display: flex;
  }
  &__row-wrapper {
    .sq-grid__data-cell {
      border-bottom: solid 2px $sq-color-muted-lighter;
    }
    &:last-child {
      .sq-grid__data-cell {
        border-bottom: none;
      }
    }
  }
  &--has-action {
    .sq-grid__body .sq-grid__row {
      cursor: pointer;
      &:hover {
        background-color: $sq-color-gray-lightest;
      }
    }
  }
  &__header-row,
  &__data {
    &-cell {
      flex-basis: 250px;
      display: flex;
      align-items: center;
      justify-content: left;
    }
  }
  &__header-row {
    &-cell {
      padding: 5px 10px;
      @media (min-width: $screen-sm) {
        padding: 10px 20px;
      }
      line-height: 36px;
      font-weight: bold;
      font-size: 14px;
    }
  }
 
  &__data {
    &-cell {
      padding: 10px;
      @media (min-width: $screen-sm) {
        padding: 0px 20px;
        min-height: 36px;
      }
    }
    &-row {
    }
  }
  &--striped {
    .sq-grid__row-wrapper {
      &:nth-child(even) {
        background: $gray-lighter;
      }
    }
  }

  &__actions {
    text-align: right;
    padding: 20px;
  }
  &__no-data {
    padding: 20px 0;
  }

  &-header {
    &--sortable {
      .sq-grid__header-row-cell.sort-enable {
        padding-right: 40px;
        position: relative;
        cursor: pointer;
      }
      .sq-grid__cell-sort {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
      }
    }
  }

  .sq-grid__header-row-cell {
    background-color: $sq-color-gray-lightest;
    flex-basis: 250px;
    justify-content: flex-start;
    flex-grow: 0;
    flex-shrink: 0;
  }
  .sq-grid__data-cell {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 250px;
    justify-content: flex-start;
  }

  &--fixed {
    height: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    .sq-grid__header {
      overflow: hidden;
    }
    .sq-grid__body {
      height: 100%;
      width: 100%;
      overflow: auto;
      flex-grow: 1;
    }
  }
}
