.sq-pricing {
  padding: 58px 0;
  &__plan {
    padding: 20px;
    border-radius: 5px;
    color: $sq-color-primary-darker;
    box-shadow: 2px 10px 10px $sq-color-muted-light;
  }
  &__featues-list {
    list-style-type: none;
    padding: 20px 0;
    margin: 0;
    @media (min-width: $screen-sm) {
      min-height: 200px;
    }
  }
  &__icon {
    padding: 20px;
  }
  &__feature-item {
    padding: 0px;
    display: flex;
    align-items: center;
    .sq-icon {
      flex-basis: 32px;
      flex-shrink: 0;
    }
    &-text {
      margin-left: 10px;
    }
  }
  &__actions {
    margin-bottom: 50px;
    color: $sq-color-gray-lightest;
  }
  &--default {
    padding: 0;
    .sq-pricing__plan-header {
      background-color: $sq-color-primary-darker;
      padding: 20px;
      margin-left: -40px;
      color: white;
    }
    .sq-pricing__header {
      text-align: center;
    }
    .sq-pricing__sub-header {
      text-align: center;
    }
  }
}
