.sq-datepicker {
  position: relative;
  &__trigger {
    position: absolute;
    right: 16px;
    top: 16px;
  }

  &__input {
    width: 100%;
  }
  
  &__calendar {
      visibility: hidden;
    &--visible {
      visibility: visible;
    }
    position: absolute;
    z-index: 9999;
    &.up {
      bottom: 50%;
      right: 40px;
      border: solid 1px #e2e2e2;
    }
    &.down {
      top: 50%;
      right: 40px;
      border: solid 1px #e2e2e2;
    }
  }
}
