.bg-gray-container {
  padding: 70px;
  background-color: $sq-color-gray-lighter;
}

.open {
  color: $sq-color-error;
}
.closed {
  color: $sq-color-success;

}
.col-icon {
  flex-basis: 60px !important;
  flex-grow: 0!important;
  flex-shrink: 0!important;
}